In [385]:
import pandas as pd
import numpy as np

df = pd.read_csv("C:\Tanisha\VERZEO PY-ML\Mini prj EDA\code\\tmdb-movies.csv")
length = len(df)

In [386]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [387]:
#checking for columns having null values
df.isnull().sum(axis=0).sort_values(ascending=False)

homepage                7930
tagline                 2824
keywords                1493
production_companies    1030
cast                      76
director                  44
genres                    23
imdb_id                   10
overview                   4
budget_adj                 0
release_year               0
vote_average               0
vote_count                 0
release_date               0
id                         0
runtime                    0
original_title             0
revenue                    0
budget                     0
popularity                 0
revenue_adj                0
dtype: int64

In [388]:
#checking for rows having null values
df.isnull().sum(axis=1).sort_values(ascending=False)

997     6
2397    6
5413    6
2370    6
3369    6
       ..
4670    0
4678    0
4681    0
4702    0
5433    0
Length: 10866, dtype: int64

In [389]:
#removing non required columns
df.drop([
    'homepage',
    'tagline', 
    'keywords',
    'production_companies',
    'director',
    'imdb_id',
    'overview',
    'vote_count',
    'vote_average'
],axis=1)

,id,popularity,budget,revenue,original_title,cast,runtime,genres,release_date,release_year,budget_adj,revenue_adj
0,135397,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,124,Action|Adventure|Science Fiction|Thriller,6/9/15,2015,1.379999e+08,1.392446e+09
1,76341,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,120,Action|Adventure|Science Fiction|Thriller,5/13/15,2015,1.379999e+08,3.481613e+08
2,262500,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,119,Adventure|Science Fiction|Thriller,3/18/15,2015,1.012000e+08,2.716190e+08
3,140607,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,136,Action|Adventure|Science Fiction|Fantasy,12/15/15,2015,1.839999e+08,1.902723e+09
4,168259,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,137,Action|Crime|Thriller,4/1/15,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,95,Documentary,6/15/66,1966,0.000000e+00,0.000000e+00
10862,20379,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,176,Action|Adventure|Drama,12/21/66,1966,0.000000e+00,0.000000e+00
10863,39768,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,94,Mystery|Comedy,1/1/66,1966,0.000000e+00,0.000000e+00
10864,21449,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,80,Action|Comedy,11/2/66,1966,0.000000e+00,0.000000e+00
10865,22293,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,74,Horror,11/15/66,1966,1.276423e+05,0.000000e+00

In [390]:
df = df.drop([
    'homepage',
    'tagline', 
    'keywords',
    'production_companies',
    'director',
    'imdb_id',
    'overview',
    'vote_count',
    'vote_average'
],axis=1)

In [391]:
round(df.isnull().sum().sort_values(ascending=False)/length*100,2)

cast              0.70
genres            0.21
id                0.00
popularity        0.00
budget            0.00
revenue           0.00
original_title    0.00
runtime           0.00
release_date      0.00
release_year      0.00
budget_adj        0.00
revenue_adj       0.00
dtype: float64

In [392]:
#null values in columns
df.isnull().sum().sort_values(ascending=False)

cast              76
genres            23
id                 0
popularity         0
budget             0
revenue            0
original_title     0
runtime            0
release_date       0
release_year       0
budget_adj         0
revenue_adj        0
dtype: int64

In [393]:
df.fillna(0)
print()

In [394]:
sum(df.duplicated())

1

In [395]:
#drop duplicates
df = df.drop_duplicates(keep='first')

In [396]:
#df = df.drop(df[df['revenue']<=0].index)
#df = df.drop(df[df['budget']<=0].index)

In [415]:
#3rd lowest budget #fear clinic
df = df.drop(df[df['budget']<=0].index)
sort1 = df.sort_values("budget",ascending=True)
sort1.head(3)

,id,popularity,budget,revenue,original_title,cast,runtime,genres,release_date,release_year,budget_adj,revenue_adj
3581,59296,0.520430,1,1378,"Love, Wedding, Marriage",Mandy Moore|Kellan Lutz|Jessica Szohr|Autumn F...,90,Comedy|Romance,6/3/11,2011,0.969398,1335.830503
3065,12689,0.472691,1,0,"Angus, Thongs and Perfect Snogging",Georgia Groome|Eleanor Tomlinson|Aaron Taylor-...,100,Comedy|Drama|Family|Romance,7/25/08,2008,1.012787,0.000000
1151,287524,0.177102,1,0,Fear Clinic,Thomas Dekker|Robert Englund|Cleopatra Coleman...,95,Horror,10/31/14,2014,0.921091,0.000000

In [398]:
#3rd highest budget # Pirates of the Carribean:At the World's End
df.drop(df[df['budget']<=0].index)
sort2 = df.sort_values("budget",ascending=False)
sort2.head(3)

,id,popularity,budget,revenue,original_title,cast,runtime,genres,release_date,release_year,budget_adj,revenue_adj
2244,46528,0.250540,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,100,Adventure|Fantasy|Action|Western|Thriller,12/2/10,2010,4.250000e+08,1.108757e+07
3375,1865,4.955130,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,136,Adventure|Action|Fantasy,5/11/11,2011,3.683713e+08,9.904175e+08
7387,285,4.965391,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,169,Adventure|Fantasy|Action,5/19/07,2007,3.155006e+08,1.010654e+09

In [416]:
#question4 lowest
df = df.drop(df[df['revenue']<=0].index)
sort4=df.sort_values("revenue", ascending=True) #Sort in ascending to find least earned revenue
sort4.head(1)
#Mallrats with 2 dollars

,id,popularity,budget,revenue,original_title,cast,runtime,genres,release_date,release_year,budget_adj,revenue_adj
8142,2293,0.552091,6000000,2,Mallrats,Jason Lee|Jeremy London|Shannen Doherty|Claire...,94,Romance|Comedy,10/20/95,1995,8.585801e+06,2.861934

In [400]:
#question4 highest
df.drop(df[df['revenue']<=0].index)
sort5=df.sort_values("revenue", ascending=False)
sort5.head(1)
#avatar with 2781505847 dollars

,id,popularity,budget,revenue,original_title,cast,runtime,genres,release_date,release_year,budget_adj,revenue_adj
1386,19995,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,162,Action|Adventure|Fantasy|Science Fiction,12/10/09,2009,2.408869e+08,2.827124e+09

In [401]:
df

,id,popularity,budget,revenue,original_title,cast,runtime,genres,release_date,release_year,budget_adj,revenue_adj
0,135397,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,124,Action|Adventure|Science Fiction|Thriller,6/9/15,2015,1.379999e+08,1.392446e+09
1,76341,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,120,Action|Adventure|Science Fiction|Thriller,5/13/15,2015,1.379999e+08,3.481613e+08
2,262500,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,119,Adventure|Science Fiction|Thriller,3/18/15,2015,1.012000e+08,2.716190e+08
3,140607,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,136,Action|Adventure|Science Fiction|Fantasy,12/15/15,2015,1.839999e+08,1.902723e+09
4,168259,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,137,Action|Crime|Thriller,4/1/15,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,95,Documentary,6/15/66,1966,0.000000e+00,0.000000e+00
10862,20379,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,176,Action|Adventure|Drama,12/21/66,1966,0.000000e+00,0.000000e+00
10863,39768,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,94,Mystery|Comedy,1/1/66,1966,0.000000e+00,0.000000e+00
10864,21449,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,80,Action|Comedy,11/2/66,1966,0.000000e+00,0.000000e+00
10865,22293,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,74,Horror,11/15/66,1966,1.276423e+05,0.000000e+00

In [402]:
#runtime in 2006 question5
df.loc[:,["runtime","original_title"]]

       runtime                original_title
0          124                Jurassic World
1          120            Mad Max: Fury Road
2          119                     Insurgent
3          136  Star Wars: The Force Awakens
4          137                     Furious 7
...        ...                           ...
10861       95            The Endless Summer
10862      176                    Grand Prix
10863       94           Beregis Avtomobilya
10864       80        What's Up, Tiger Lily?
10865       74      Manos: The Hands of Fate

[10865 rows x 2 columns]

In [403]:
df.loc[:,["runtime"]].mean()

runtime    102.07179
dtype: float64

In [404]:
filt = (df["release_year"]==2006)
df.loc[filt,["release_year"]]

      release_year
6554          2006
6555          2006
6556          2006
6557          2006
6558          2006
...            ...
6957          2006
6958          2006
6959          2006
6960          2006
6961          2006

[408 rows x 1 columns]

In [405]:
df.loc[filt,["runtime"]].mean()
#average runtime in 2006 is 101.68mins

runtime    101.683824
dtype: float64

In [406]:
#vin diesel and emma watson
df.loc[:,["genres","cast"]]

,genres,cast
0,Action|Adventure|Science Fiction|Thriller,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
1,Action|Adventure|Science Fiction|Thriller,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...
2,Adventure|Science Fiction|Thriller,Shailene Woodley|Theo James|Kate Winslet|Ansel...
3,Action|Adventure|Science Fiction|Fantasy,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...
4,Action|Crime|Thriller,Vin Diesel|Paul Walker|Jason Statham|Michelle ...
...,...,...
10861,Documentary,Michael Hynson|Robert August|Lord 'Tally Ho' B...
10862,Action|Adventure|Drama,James Garner|Eva Marie Saint|Yves Montand|Tosh...
10863,Mystery|Comedy,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...
10864,Action|Comedy,Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...
10865,Horror,Harold P. Warren|Tom Neyman|John Reynolds|Dian...

In [407]:
df.fillna("abc",inplace = True)
filt = (df["cast"])
filt = df["cast"].str.contains("Vin Diesel")
df.loc[filt,["genres"]]

                                                 genres
4                                 Action|Crime|Thriller
41                             Fantasy|Action|Adventure
630                    Action|Science Fiction|Adventure
1539                        Action|Crime|Drama|Thriller
1907                                       Action|Drama
2438  Adventure|Animation|Family|Fantasy|Science Fic...
2753                              Action|Crime|Thriller
2766                                     Crime|Thriller
2942          Action|Adventure|Science Fiction|Thriller
3619                              Action|Thriller|Crime
3924                                             Action
4974                                       Action|Drama
5226                                             Action
5437                    Science Fiction|Action|Thriller
5650                              Action|Thriller|Crime
5793                   Action|Animation|Science Fiction
6204                Action|Comedy|Drama|Family|Thriller
6774                          Drama|Action|Comedy|Crime
7024          Adventure|Action|Thriller|Science Fiction
7208          Action|Animation|Science Fiction|Thriller
8684                    Thriller|Science Fiction|Action
8685                               Crime|Drama|Thriller

In [408]:
data = df.loc[filt,"genres"]
data.tolist()

['Action|Crime|Thriller',
 'Fantasy|Action|Adventure',
 'Action|Science Fiction|Adventure',
 'Action|Crime|Drama|Thriller',
 'Action|Drama',
 'Adventure|Animation|Family|Fantasy|Science Fiction',
 'Action|Crime|Thriller',
 'Crime|Thriller',
 'Action|Adventure|Science Fiction|Thriller',
 'Action|Thriller|Crime',
 'Action',
 'Action|Drama',
 'Action',
 'Science Fiction|Action|Thriller',
 'Action|Thriller|Crime',
 'Action|Animation|Science Fiction',
 'Action|Comedy|Drama|Family|Thriller',
 'Drama|Action|Comedy|Crime',
 'Adventure|Action|Thriller|Science Fiction',
 'Action|Animation|Science Fiction|Thriller',
 'Thriller|Science Fiction|Action',
 'Crime|Drama|Thriller']

In [409]:
filt = (df["cast"].str.contains("Vin Diesel"))
vin_df = df.loc[filt,"genres"].apply(lambda x:x.split("|"))
genres_ = set()
total_list = []
for gen in vin_df.tolist():
    for i in gen:
        total_list.append(i)
        genres_.add(i)
genres_

most_common = dict.fromkeys(genres_)
for gen in genres_:
    most_common[gen] = total_list.count(gen)

most_common = dict(sorted(most_common.items(),key=lambda x:x[1],reverse=True))
most_common #action-vin diesel

{'Action': 19,
 'Thriller': 13,
 'Crime': 8,
 'Science Fiction': 8,
 'Drama': 6,
 'Adventure': 5,
 'Animation': 3,
 'Comedy': 2,
 'Family': 2,
 'Fantasy': 2}

In [410]:
filt = (df ["cast"])
filt = df["cast"].str.contains("Emma Watson")
df.loc[(filt),["genres"]]

                                genres
146            Horror|Mystery|Thriller
686                    Drama|Adventure
1389          Adventure|Fantasy|Family
1923          Adventure|Fantasy|Family
2634          Adventure|Fantasy|Family
3020           Animation|Comedy|Family
3374          Adventure|Family|Fantasy
3912          Adventure|Fantasy|Family
4388                     Drama|Romance
5546                       Drama|Crime
6190          Adventure|Fantasy|Family
6962          Adventure|Fantasy|Family
7388  Adventure|Fantasy|Family|Mystery
7786                      Drama|Family

In [411]:
data = df.loc[filt,"genres"]
data.tolist()

['Horror|Mystery|Thriller',
 'Drama|Adventure',
 'Adventure|Fantasy|Family',
 'Adventure|Fantasy|Family',
 'Adventure|Fantasy|Family',
 'Animation|Comedy|Family',
 'Adventure|Family|Fantasy',
 'Adventure|Fantasy|Family',
 'Drama|Romance',
 'Drama|Crime',
 'Adventure|Fantasy|Family',
 'Adventure|Fantasy|Family',
 'Adventure|Fantasy|Family|Mystery',
 'Drama|Family']

In [412]:
filt = (df["cast"].str.contains("Emma Watson"))
emma_df = df.loc[filt,"genres"].apply(lambda x:x.split("|"))
genres_ = set()
total_list = []
for gen in emma_df.tolist():
    for i in gen:
        total_list.append(i)
        genres_.add(i)
genres_

most_common = dict.fromkeys(genres_)
for gen in genres_:
    most_common[gen] = total_list.count(gen)

most_common = dict(sorted(most_common.items(),key=lambda x:x[1],reverse=True))
most_common #family - emma watson

{'Family': 10,
 'Adventure': 9,
 'Fantasy': 8,
 'Drama': 4,
 'Mystery': 2,
 'Comedy': 1,
 'Animation': 1,
 'Crime': 1,
 'Thriller': 1,
 'Romance': 1,
 'Horror': 1}